<section class="w-full pt-4 md:pt-8">
  <div class="max-w-8xl 2xl:max-w-9xl mx-auto px-6 md:px-8">
    <h1 class="text-4xl md:text-5xl 2xl:text-4xl text-charcoal font-playfair">
      {{ 'contact.title' | transloco }}
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-6">
      <div class="lg:col-span-4">
        <p class="mt-4 text-lg md:text-lg 2xl:text-xl text-charcoal font-montserrat font-light">
          {{ 'contact.description' | transloco }}
        </p>
      </div>
    </div>
  </div>
</section>
