.font-logo {
  font-family: var(--font-baloo), cursive;
  letter-spacing: 0.08rem !important;
  text-transform: uppercase !important;
  font-weight: bold;
}

.font-subheader {
  font-family: var(--font-baloo), serif;
  letter-spacing: 0.05rem !important;
}
