<div class="relative w-full h-screen overflow-hidden scroll-smooth">
  <!-- Background image -->
  <img alt="Background Hero Image" class="absolute inset-0 w-full h-full object-cover"
       height="3543" ngSrc="assets/home/hero-background.jpg" width="5315"/>

  <!-- Navbar overlay on top of image -->
  <app-header class="absolute top-0 left-0 w-full z-10" [isDimmed]="true"/>

  <!-- Bottom-aligned text content -->
  <div class="relative z-0 flex flex-col items-center justify-end h-full text-center text-white px-4 pb-16">
    <h1 class="text-4xl sm:text-6xl font-logo">Aevitas Foto</h1>
    <p class="mb-2 mb:mt-2 text-lg md:text-2xl font-subheader">Capturing your precious moments for eternity</p>

    <a class="mt-6 font-buttons" role="button" routerLink="/contact" tabindex="0">
      Get in touch
    </a>

    <!-- Chevron at the very bottom, centered -->
    <a aria-label="Scroll to intro section"
       class="mt-12 text-white text-4xl animate-[bounce_1.5s_ease-in-out_infinite]"
       fragment="intro" [routerLink]="['/']"
    >
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</div>
