<div
  class="fixed inset-0 bg-outer-space text-white-smoke lg:hidden transform -translate-x-full transition-transform duration-250 ease-in-out"
  [class.translate-x-0]="open"
  [class.delay-150]="open"
  style="z-index: 10;"
>
  <!-- Menu links -->
  <div class="flex flex-col items-center justify-center space-y-6 h-full text-xl font-baloo">
    <a routerLink="/" (click)="onClose()">Home</a>
    <a routerLink="/about" (click)="onClose()">About</a>
    <a routerLink="/gallery" (click)="onClose()">Gallery</a>
    <a routerLink="/bookings" (click)="onClose()">Bookings</a>
    <a routerLink="/contact" (click)="onClose()">Contact</a>
  </div>
</div>
