<div
  class="fixed inset-0 bg-outer-space text-white-smoke lg:hidden transform -translate-x-full transition-transform duration-250 ease-in-out pawprint-bg"
  [class.translate-x-0]="open"
  [class.delay-150]="open"
  style="z-index: 10;"
>
  <!-- Menu links -->
  <div class="flex flex-col items-center justify-center h-full space-y-4 md:space-y-8 text-4xl md:text-5xl font-baloo text-white">
    <a routerLink="/" (click)="onClose()">Home</a>
    <a routerLink="/about" (click)="onClose()">About</a>
    <a routerLink="/gallery" (click)="onClose()">Gallery</a>
    <a routerLink="/bookings" (click)="onClose()">Bookings</a>
    <a routerLink="/contact" (click)="onClose()">Contact</a>
  </div>

  <!-- Social links -->
  <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 flex space-x-6 text-lg sm:text-xl">
    <a href="https://www.instagram.com/aevitasfoto" target="_blank" class="hover:text-pink-400">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="mailto:aevitasfoto@gmail.com" class="hover:text-blue-400">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>
