.custom-underline {
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;
    background: #fff;
    bottom: -2px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::after {
    opacity: 1;
  }
}
