<section class="max-w-8xl mx-auto px-6 md:px-8 pt-6 md:pt-12 lg:pt-16 flex flex-col items-center">
  <div class="swiper mini-gallery w-full">
    <!-- Images -->
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image1Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-1.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image2Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-2.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image3Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-3.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image4Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-4.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image5Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-5.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image6Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-6.jpg"/>
      </div>
      <div class="swiper-slide">
        <img alt="{{ 'miniGallery.image7Alt' | transloco }}" class="slider-img" fill
             ngSrc="assets/home/mini-gallery/mini-gallery-7.jpg"/>
      </div>
    </div>

    <!-- Navigation -->
    <div class="swiper-button-prev">
      <svg aria-hidden="true" display="block"></svg> <!--  Important to overwrite the default svg -->
      <span class="swiper-button-circle">
        <i class="fas fa-arrow-left text-whitesmoke text-xl"></i>
      </span>
    </div>
    <div class="swiper-button-next">
      <svg aria-hidden="true" display="block"></svg> <!--  Important to overwrite the default svg -->
      <span class="swiper-button-circle">
        <i class="fas fa-arrow-right text-whitesmoke text-xl"></i>
      </span>
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
