<div class="max-w-8xl mx-auto px-6 md:px-8 my-12">
  <!--suppress HtmlUnknownAttribute -->
  <swiper-container
    loop="false"
    navigation="true"
    pagination="true"
    slides-per-view="3"
    space-between="16"
    style="width: 100%; height: 400px;"
  >
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/dog-autumn.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/golden-puppies.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/dog-autumn.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/golden-puppies.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/dog-autumn.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/golden-puppies.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/dog-autumn.png"/>
    </swiper-slide>
    <swiper-slide>
      <img alt="photo1" class="w-full h-full object-cover" src="assets/golden-puppies.png"/>
    </swiper-slide>
  </swiper-container>
</div>
