<section class="mx-auto pt-6 flex flex-col items-center">
  <section class="relative w-full overflow-hidden h-80">
    <img
      alt="{{ 'banner.imageAlt' | transloco }}"
      aria-hidden="true"
      class="block md:hidden absolute inset-0 w-full h-full object-cover object-[center_40%]"
      fill
      ngSrc="assets/home/banner/banner.jpg"
    />

    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-55 pointer-events-none"></div>

    <div class="relative z-10 flex flex-col items-center justify-center text-center text-white px-6 h-full">
      <p class="text-md font-montserrat font-light max-w-5xl">
        {{ 'banner.text' | transloco }}
      </p>
      <a class="font-buttons mt-4" role="button" routerLink="/about" tabindex="0">
        {{ 'banner.cta' | transloco }}
      </a>
    </div>
  </section>
</section>
