<section class="mx-auto pt-6 md:pt-12 lg:pt-16 flex flex-col items-center">
  <section class="relative w-full overflow-hidden h-80 lg:h-96">
    <img
      alt="Banner background"
      aria-hidden="true"
      class="hidden md:block absolute inset-0 w-full h-full object-cover object-[center_45%]"
      height="3780"
      ngSrc="assets/home/banner/banner-desktop.jpg"
      width="5315"
    />

    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-55 pointer-events-none"></div>

    <div class="relative z-10 flex items-center justify-center text-center text-white px-6 h-full">
      <div class="relative">
        <p class="text-lg md:text-xl lg:text-2xl font-montserrat font-light drop-shadow-lg max-w-5xl">
          A successful photograph doesn’t just show an image, but lets you relive the moment. A memory preserved for a
          lifetime.
        </p>

        <a
          class="font-buttons absolute left-1/2 -translate-x-1/2 top-full mt-6 whitespace-nowrap"
          role="button"
          routerLink="/about"
          tabindex="0"
        >
          Book a session
        </a>
      </div>
    </div>
  </section>
</section>
