<section class="mx-auto pt-6 md:pt-12 lg:pt-16 flex flex-col items-center">
  <section class="relative w-full overflow-hidden h-80 lg:h-96">
    <img
      alt="{{ 'banner.imageAlt' | transloco }}"
      aria-hidden="true"
      class="absolute inset-0 w-full h-full object-cover object-[center_40%] md:object-[center_45%]"
      fill
      ngSrc="assets/home/banner/banner.jpg"
    />

    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-55 pointer-events-none"></div>

    <div class="relative z-10 flex flex-col md:flex-row items-center justify-center text-center text-white px-6 h-full">
      <div class="md:relative">
        <p class="text-lg md:text-xl lg:text-2xl 2xl:text-3xl font-montserrat font-light md:drop-shadow-lg max-w-5xl">
          {{ 'banner.text' | transloco }}
        </p>

        <a
          class="font-buttons mt-4 md:absolute md:left-1/2 md:-translate-x-1/2 md:top-full md:mt-6 md:whitespace-nowrap"
          role="button"
          routerLink="/contact"
          tabindex="0"
        >
          {{ 'banner.cta' | transloco }}
        </a>
      </div>
    </div>
  </section>
</section>
