<footer class="w-full bg-outer-space text-whitesmoke py-7">
  <div class="max-w-8xl 2xl:max-w-9xl mx-auto px-6 md:px-8 flex flex-col items-center md:flex-row md:justify-between">
    <!-- Left side: copyright + created by -->
    <div class="flex flex-col items-center md:items-start text-center md:text-left">
      <span class="text-sm">{{ 'footer.copyright' | transloco }}</span>
      <a class="text-xs text-gray-400 mt-1 hover:underline" href="https://www.linkedin.com/in/milankoster/"
         target="_blank">
        {{ 'footer.createdBy' | transloco }}
      </a>
    </div>

    <!-- Right side: socials -->
    <div class="flex space-x-4 2xl:space-x-6 mt-4 md:mt-0">
      <a
        class="hover:text-pink-400 text-base 2xl:text-lg"
        href="https://www.instagram.com/aevitasfoto"
        target="_blank"
        [attr.aria-label]="'header.social.instagram' | transloco"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="hover:text-blue-400 text-base 2xl:text-lg"
        href="mailto:aevitasfoto@gmail.com"
        [attr.aria-label]="'header.social.email' | transloco"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
