<section class="mx-auto pt-8 md:pt-16 flex flex-col items-center">
  <section class="relative w-full overflow-hidden h-[40h] md:h-[50vh]">
    <!-- Background image for desktop -->
    <img alt="Banner background" aria-hidden="true"
         class="hidden md:block absolute inset-0 w-full h-full object-cover object-[center_45%]"
         height="3780"
         ngSrc="assets/home/mini-story/mini-story-desktop.jpg" width="5315"/>

    <!-- Background image for mobile -->
    <img
      alt="Banner background"
      aria-hidden="true"
      class="block md:hidden absolute inset-0 w-full h-full object-cover object-[center_40%]"
      src="assets/home/mini-story-mobile.jpg"
    />

    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-40 pointer-events-none"></div>

    <!-- Overlay content -->
    <div class="relative z-10 flex flex-col items-center justify-center text-center text-white px-6 h-full">
      <div class="relative flex flex-col items-center">
        <p class="text-lg md:text-2xl font-montserrat font-light drop-shadow-lg max-w-5xl">
          A successful photograph is one that doesn’t just show an image but makes you feel as though you are standing
          within it again. A memory preserved for a lifetime.
        </p>
        <a
          class="absolute top-full mt-8 font-buttons bg-bronze px-6 py-3 rounded shadow-lg"
          role="button"
          routerLink="/bookings"
          tabindex="0"
        >
          Book a session
        </a>
      </div>
    </div>
  </section>
</section>
