<nav class="relative w-full z-50">
  <!-- Dimmed background layer -->
  @if (isDimmed()) {
    <div class="hidden lg:block absolute inset-0 bg-black opacity-60 z-0"></div>
  }

  <div class="relative z-50 mx-auto flex items-center justify-between px-4 py-3">
    <!-- Mobile: Hamburger -->
    <button class="hamburger relative w-8 h-8 lg:hidden" type="button" (click)="toggleMobileMenu()">
      <span class="bar top" [class.open]="mobileMenuOpen"></span>
      <span class="bar middle" [class.open]="mobileMenuOpen"></span>
      <span class="bar bottom" [class.open]="mobileMenuOpen"></span>
    </button>

    <!-- Logo -->
    <a class="flex items-center z-50" routerLink="/">
      <img
        alt="{{ 'header.logoAlt' | transloco }}"
        class="h-16 2xl:h-18 w-auto hidden lg:block"
        height="475"
        ngSrc="assets/logo/aevitas-logo.png"
        width="1864"
      />
      <img
        alt="{{ 'header.logoAlt' | transloco }}"
        class="h-12 md:h-16 w-auto lg:hidden"
        height="828"
        ngSrc="assets/logo/aevitas-logo-mobile.png"
        width="1440"
      />
    </a>

    <!-- Desktop Links -->
    <ul class="space-x-6 2xl:space-x-8 absolute left-1/2 transform -translate-x-1/2 hidden lg:flex ">
      <li>
        <a
          class="px-1 2xl:px-2 font-header-links text-md 2xl:text-lg text-whitesmoke custom-underline inline-block"
          routerLink="/about"
        >
          {{ 'header.nav.about' | transloco }}
        </a>
      </li>
      <li>
        <a
          class="px-1 2xl:px-2 font-header-links text-md 2xl:text-lg text-whitesmoke custom-underline inline-block "
          routerLink="/gallery"
        >
          {{ 'header.nav.gallery' | transloco }}
        </a>
      </li>
      <li>
        <a
          class="px-1 2xl:px-2 font-header-links text-md 2xl:text-lg text-whitesmoke custom-underline inline-block "
          routerLink="/bookings"
        >
          {{ 'header.nav.bookings' | transloco }}
        </a>
      </li>
      <li>
        <a
          class="px-1 2xl:px-2 font-header-links text-md 2xl:text-lg text-whitesmoke custom-underline inline-block "
          routerLink="/contact"
        >
          {{ 'header.nav.contact' | transloco }}
        </a>
      </li>
    </ul>

    <!-- Socials -->
    <div class="hidden lg:flex items-center space-x-4 2xl:space-x-7 pr-4">
      <div class="mr-8">
        <app-language-toggle/>
      </div>
      <a
        class="text-whitesmoke hover:text-pink-400 text-base 2xl:text-lg"
        href="https://www.instagram.com/aevitasfoto"
        target="_blank"
        [attr.aria-label]="'header.social.instagram' | transloco"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="text-whitesmoke hover:text-blue-400 text-base 2xl:text-lg"
        href="mailto:aevitasfoto@gmail.com"
        [attr.aria-label]="'header.social.email' | transloco"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>

  <!-- Mobile Menu Component -->
  <app-mobile-menu [open]="mobileMenuOpen" (close)="closeMobileMenu()"/>
</nav>
