<div
  class="fixed inset-0 transform -translate-x-full transition-transform duration-250 ease-in-out
         bg-outer-space text-whitesmoke lg:hidden pawprint-bg overflow-hidden z-50"
  [class.delay-150]="open()"
  [class.translate-x-0]="open()"
>
  <!-- Menu links -->
  <div
    class="relative z-10 flex flex-col items-center justify-center h-full space-y-4 md:space-y-8 text-4xl md:text-5xl font-nunito text-white">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="onClose()">
      {{ 'header.nav.home' | transloco }}
    </a>
    <a routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
       (click)="onClose()">
      {{ 'header.nav.about' | transloco }}
    </a>
    <a routerLink="/gallery" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
       (click)="onClose()">
      {{ 'header.nav.gallery' | transloco }}
    </a>
    <a routerLink="/prices" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
       (click)="onClose()">
      {{ 'header.nav.prices' | transloco }}
    </a>
    <a routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
       (click)="onClose()">
      {{ 'header.nav.contact' | transloco }}
    </a>

    <!-- Language selector directly under nav links -->
    <div class="pt-6">
      <div class="origin-center scale-100 md:scale-130">
        <app-language-toggle/>
      </div>
    </div>
  </div>

  <!-- Social links at the bottom -->
  <div
    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 flex flex-col items-center space-y-3 text-xl md:text-3xl z-10">
    <div class="flex space-x-6">
      <a
        class="hover:text-pink-400"
        href="https://www.instagram.com/aevitasfoto"
        target="_blank"
        [attr.aria-label]="'header.social.instagram' | transloco"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="hover:text-blue-400"
        href="mailto:aevitasfoto@gmail.com"
        [attr.aria-label]="'header.social.email' | transloco"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
