.pawprint-bg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vmin; /* scales with screen size */
  height: 120vmin;
  background: url("/assets/icons/pawprint.png") no-repeat center/contain;
  opacity: 0.055;
  transform: translate(-50%, -50%) rotate(30deg);
  pointer-events: none;
  mix-blend-mode: multiply;
  filter: sepia(1) saturate(0.4) brightness(0.7);
  z-index: 0;
}

.active-link {
  border-bottom: 2px solid var(--color-whitesmoke);
}
