<div class="relative w-full h-screen overflow-hidden scroll-smooth">
  <!-- Background image -->
  <img
    alt="Background Hero Image"
    class="absolute inset-0 w-full h-full object-cover"
    src="assets/huskies-running-dimmed.png"
  />

  <!-- Navbar overlay on top of image -->
  <app-header
    class="absolute top-0 left-0 w-full z-10"
    [isDimmed]="true"
  />

  <!-- Bottom-aligned text content -->
  <div class="relative z-0 flex flex-col items-center justify-end h-full text-center text-white px-4 pb-16">
    <h1 class="text-4xl md:text-6xl font-bold">Aevitas Foto</h1>
    <p class="mt-2 md:mt-2 text-lg md:text-2xl">Capturing your precious moments for eternity</p>

    <!-- TODO CTA Button -->
    <a
      class="mt-6 inline-block px-8 py-1 rounded-xl text-white shadow-lg transition text-lg
             duration-300 ease-in-out font-baloo"
      href="#contact"
      onmouseout="this.style.backgroundColor='#9D7245'"
      onmouseover="this.style.backgroundColor='#855E38'"
      style="
        background-color: #9D7245;
      "
    >
      Get in touch
    </a>

    <!-- Chevron at the very bottom, centered -->
    <a
      aria-label="Scroll to about section"
      class="mt-12 text-white text-4xl animate-[bounce_1.5s_ease-in-out_infinite]"
      href="#intro"
    >
      <i class="fas fa-chevron-down"></i>
    </a>
  </div>
</div>

<!-- Intro section -->
<section
  class="max-w-8xl mx-auto px-6 md:px-8 py-8 md:py-16 flex flex-col md:flex-row items-center gap-10"
  id="intro"
>
  <!-- Text Content -->
  <div class="flex-1 text-left">
    <h2 class="text-3xl md:text-5xl mb-4 text-charcoal font-playfair">
      Pet Photography Falkenberg
    </h2>
    <p class="text-sm text-charcoal font-nunito mb-4">
      Capturing the unique personalities of your beloved pets is at the heart of what I do.
    </p>
    <p class="text-sm text-charcoal font-nunito mb-4">
      I love photographing outdoors, where your pets' joyful energy comes alive against the magic of natural light.
      For a more polished look, we can bring a small portable studio to your home. Perfect for timeless and elegant
      portraits in a relaxed environment.
    </p>
    <p class="text-sm text-charcoal font-nunito">
      Each session is tailored to you and your pet, ensuring a comfortable, fun experience and stunning high-resolution
      images that can be treasured for years to come.
    </p>
  </div>

  <!-- Image -->
  <div class="md:w-1/2 flex justify-end">
    <img
      alt="Pet photography session in Falkenberg"
      class="w-full max-w-md rounded shadow-lg object-cover"
      src="assets/golden-puppies.png"
    />
  </div>
</section>

<!-- 🖼 Mini Gallery Section -->
<app-mini-gallery/>
