<div class="relative inline-block text-sm text-whitesmoke">
  <button
    aria-haspopup="listbox"
    class="lang-toggle-button lang-active-button"
    data-lang-toggle
    type="button"
    [attr.aria-expanded]="isOpen"
    (click)="toggleOpen()"
  >
    <span class="mr-2">
      <img
        class="lang-toggle-flag"
        height="36"
        ngSrc="{{ currentConfig.icon }}"
        width="60"
        [alt]="currentConfig.label"
      />
    </span>
    <span class="lang-toggle-label font-header-links">
      {{ currentConfig.code }}
    </span>
    <span class="text-xs">
      <i class="fas" [ngClass]="{ 'fa-chevron-up': isOpen, 'fa-chevron-down': !isOpen }"></i>
    </span>
  </button>

  @if (isOpen) {
    <div
      class="absolute right-0 mt-1 w-full bg-outer-space border border-white/40 rounded shadow-lg z-50"
      data-lang-dropdown
      role="listbox"
    >
      @for (lang of otherLangs; track lang) {
        <button
          class="lang-toggle-button w-full"
          role="option"
          type="button"
          [attr.aria-selected]="false"
          (click)="select(lang)"
        >
          <span class="mr-2">
            <img
              class="lang-toggle-flag"
              height="36"
              ngSrc="{{ LANGUAGE_CONFIG[lang].icon }}"
              width="60"
              [alt]="LANGUAGE_CONFIG[lang].label"
            />
          </span>
          <span class="font-header-links tracking-wide">
            {{ LANGUAGE_CONFIG[lang].code }}
          </span>
        </button>

        @if (lang !== otherLangs[otherLangs.length - 1]) {
          <div class="h-px bg-white/30 mx-2"></div>
        }
      }
    </div>
  }
</div>
