<div class="bg-isabelline rounded-lg lg:pt-6 space-y-3">
    <h3 class="text-3xl font-playfair text-charcoal mb-4">{{ 'contactDetails.title' | transloco }}</h3>

    <!-- Location -->
    <div class="flex items-center gap-3">
        <i class="fas fa-map-marker-alt text-bronze text-xl"></i>
        <p class="font-montserrat text-charcoal">Falkenberg, Sweden</p>
    </div>

    <!-- Phone -->
    <a class="flex items-center gap-3 group" href="tel:+46123456789">
        <i class="fas fa-phone text-bronze text-xl"></i>
        <span class="font-montserrat text-charcoal hover:text-stone-500">
      +46 123 456 789
    </span>
    </a>

    <!-- Email -->
    <a class="flex items-center gap-3 group" href="mailto:aevitasfoto@gmail.com">
        <i class="fas fa-envelope text-bronze text-xl"></i>
        <span class="font-montserrat text-charcoal hover:text-stone-500">
      aevitasfoto&#64;gmail.com
    </span>
    </a>

    <!-- Instagram -->
    <a
            class="flex items-center gap-3 group"
            href="https://www.instagram.com/aevitasfoto"
            rel="noopener noreferrer"
            target="_blank"
    >
        <i class="fab fa-instagram text-bronze text-xl"></i>
        <span class="font-montserrat text-charcoal hover:text-stone-500">
      &#64;aevitasfoto
    </span>
    </a>
</div>

