@use "tailwindcss";
@use '@fortawesome/fontawesome-free/css/all.min.css';

@theme {
  --color-white-smoke: #f2f2f2;     // Main Text
  --color-linen: #F1E9E2;           // Primary Background
  --color-isabelline: #F4EDE7;      // Secondary Background

  --color-outer-space: #303F3C;     // Footer Background
  --color-feldgrau: #47624F;        // Primary Section Background
  --color-timberwolf: #DAD7D3;      // Secondary Section Background

  --color-charcoal: #3B3D43;        // Primary Text

  --spacing-8xl: 82rem;

}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-linen);
}
