@use "tailwindcss";
@use '@fortawesome/fontawesome-free/css/all.min.css';

@theme {
  --color-white-smoke: #f2f2f2;     // Main Text
  --color-isabelline: #F8F5F1;      // Primary Background
  --color-linen: #EDE4DD;           // Secondary Background

  --color-outer-space: #303F3C;     // Footer Background
  --color-feldgrau: #47624F;        // Primary Section Background
  --color-timberwolf: #DAD7D3;      // Secondary Section Background

  --spacing-8xl: 84rem;

}

