<section class="bg-linen pt-4 md:pt-8 pb-16">
  <div class="max-w-8xl 2xl:max-w-9xl mx-auto px-6 md:px-8">
    <!-- Section Title -->
    <h2 class="text-3xl md:text-4xl 2xl:text-5xl mb-1 text-charcoal font-nunito text-left">
      {{ 'reviewsTitle' | transloco }}
    </h2>
  </div>

  <!-- Review Cards -->
  <div class="reviews-swiper-container max-w-8xl 2xl:max-w-9xl mx-auto px-2 md:px-4">
    <div class="width-full overflow-hidden px-4">
      <div class="swiper reviews-swiper w-full">
        <div class="swiper-wrapper">
          @for (review of reviews(); track $index) {
            <div class="swiper-slide">
              <div
                class="review-card bg-white shadow-lg px-4 pt-6 pb-2 h-full flex flex-col justify-between min-h-[16rem] lg:min-h-[14rem]">
                <div class="overflow-hidden">
                  <p
                    class="text-base lg:text-md 2xl:text-xl text-charcoal font-montserrat font-light italic px-2 mb-4 leading-relaxed">
                    "{{ review.quote }}"
                  </p>
                </div>
                <p class="text-sm md:text-sm 2xl:text-base text-bronze font-nunito font-medium text-right">
                  {{ review.name }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

